[Desktop Entry]
Categories=Game;
Comment=A cat that wanders around your screen
Exec=strayneko
Icon=strayneko
Name=strayneko
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
